/* Goggle fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
.primary-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 60px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #D9D9D9;
    font-size: 45px;
    font-weight: 700;
}
nav>ul{
    display:flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-title{
    font-size: 64px;
    font-weight: 700; 
}

.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 10px;
}
.banner-description{
    color: #727272;
}
.banner img{
    width: 100%;
}

/* For Responsive */

@media screen and (max-width:576px){
   header{
    padding: 20px;
   } 
   nav{
    flex-direction: column;
   }
}
/* For Tablet */
@media screen and ( min-width:576px) and (max-width:992px){
    nav{
        flex-direction:column ;
    }
    header{
        padding: 50px;
       }
}
main{
    max-width: 1240px;
    margin: 20px 20px 20px 200px ;
}
.teams-container{
    display: flex;
    align-items: center;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.span-1{
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}
.span-2{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.span-3{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}