/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared code */

*{
    font-family: 'Work Sans', sans-serif;
}

.primary-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
}
.gray-color{
    color: gray;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 60px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
nav>ul{
    display:flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-title{
    font-size: 64px;
    font-weight: 700; 
}

.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 10px;
}
.banner-description{
    color: #727272;
}
.banner img{
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 20px 20px 20px 200px ;
}
.teams-container{
    display: flex;
    align-items: center;
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.span-1{
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}
.span-2{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.span-3{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
/* features style */
.features{
    margin-top: 130px;
    display: flex;
    gap: 10px;   
    margin-right:2%;
}
.features-content .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom:  20px;
}
.features-content .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-img img{
    height: 90%;
    margin-left: 70px;
}
.ten-year-badge{
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 0px;
}
.ten-year-badge p{
    font-size: 1.5rem;
    font-weight: 500;
}

/* Facts Section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
    margin-bottom :5px;
    margin-top: 5px;

}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
/* Sponsor style */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.sponsors-img-container img{
    width: 153.333px;
}
.foot{
    background: #FFF4E7;
    width: 90%;
    height: 80px;
    flex-shrink: 0;
    margin-left: 6%;
    margin-right: 10%;    
}
.footer-class{
    border-radius: 8px;
    text-align: center;
    padding: 35px;
}


/* For Responsive */

@media screen and (max-width:576px){
    header{
     padding: 20px;
    } 
    nav{
     flex-direction: column;
    }
    .teams-container ,.sponsors-img-container,
    .facts-card-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
        gap: 20px;
    }
    main{
        margin: 20px 20px 20px 20px ;
    }
    .features{
        flex-direction: column;
    }
    .features-img img{
        width: 80%;
        margin-left: 0;
    }
    .ten-year-badge{
        position: static;
        max-width: 300px;
    }
 }
 /* For Tablet */
 @media screen and ( min-width:576px) and (max-width:992px){
     nav ,.features, .teams-container ,.sponsors-img-container{
         flex-direction:column ;
     }
     header{
         padding: 50px;
        }
        main{

            margin: 20px 20px 20px 50px ;
        }
 }

